spring:
  application:
    name: s3filemanagement-service
eureka:
  client:
    service-url:
      defaultZone:  http://localhost:8090/eureka

server:
  port: 8083

cloud.aws:
  credentials:
    accessKey: ${AWS_ACCESS_KEY_ID}
    secretKey: ${AWS_SECRET_ACCESS_KEY}
  region:
    static: ${AWS_DEFAULT_REGION}

S3config:
  bucketname: exampleouihoj

security:
  oauth2:
    client:
      client-id: ${GITHUB_CLIENTID}
      client-secret: ${GITHUB_CLIENT_SECRET}
      access-token-uri: https://github.com/login/oauth/access_token
      user-authorization-uri: https://github.com/login/oauth/authorize
      client-authentication-scheme: form
    resource:
      user-info-uri: https://api.github.com/user
      prefer-token-info: false
